@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,600;1,700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__logo:hover {
  color: #fff;
}

.nav__logo h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
}

.nav__logo img {
  width: 100px;
  color: #fff;
}

.nav-list__item-logo {
  width: 100px;
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-list__item {
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-left: 30px;
  font-family: 'Lora', serif;

}

.nav-list__item-logo {
  white-space: nowrap;
  display: none;
}

.nav-list__link:hover {
  color: #fff;
}

.nav-list__link i {
  font-size: 1.6em;
}

@media screen and (max-width: 1024px) {
  .nav-list__item {
    margin-left: 0;
    display: none;
  }

  .nav-list__item-excurs {
    margin-left: 0px;
    display: block;
    display: none;
  }

  .nav__logo img {
    width: 100px;
    color: #fff;
  }
}

@media screen and (max-width: 707px) {
  .nav__logo,
  .nav__tell {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .nav__logo,
  .nav__tell {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .nav__logo,
  .nav__tell {
    font-size: 14px;
  }
}
